// Copyright 2021 Manna Harbour
// https://github.com/manna-harbour/miryoku
// GAME Layer Activation - Add this file to your keymap

/ {
  combos {
    compatible = "zmk,combos";
    
    game_toggle_combo {
      timeout-ms = <30>;
      key-positions = <33 34 35>;
      bindings = <&to U_GAME>;
      layers = <U_BASE>;
    };
    
    game_return_combo {
      timeout-ms = <30>;
      key-positions = <33 34 35>;
      bindings = <&to U_BASE>;
      layers = <U_GAME>;
    };
  };
};

